<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Meaning: For a ruse or trick to be discovered; to be caught.</string>
	<string>Meaning: Finishing a task without making any excuses.</string>
	<string>Meaning: Resembling one&apos;s parents in terms of appearance or behavior.</string>
	<string>Meaning: When something is incomprehensible due to complexity; unintelligble.</string>
	<string>Meaning: Something that occurs too early before preparations are ready. Starting too soon.</string>
	<string>Meaning: Something that is easy.</string>
	<string>Meaning: Someone or something that one finds to be agreeable or delightful.</string>
	<string>Meaning: Having confidence in a specific outcome; being almost sure about something.</string>
	<string>Meaning: Often said by the winner in poker, as the others &apos;weep&apos; over the loss.</string>
	<string>Meaning: One should discontinue with a task if they are unable to cope with it due to pressure.</string>
	<string>Meaning: High quality, exceptional; something that&apos;s very valuable.</string>
	<string>Meaning: Old in age. Mainly used when referring to people or horses.</string>
	<string>Meaning: A rhetorical question used by a person who feels they are being given less consideration than someone else.</string>
	<string>Meaning: A situation that has gotten way more serious or interesting due to recent complexities or developments.</string>
	<string>Meaning: Someone that calls for help when it is not needed. Someone who is lying.</string>
	<string>Meaning: Said when things are about to get serious.</string>
	<string>Meaning: Supporting what you say, not just with words, but also through action or evidence.</string>
	<string>Meaning: A boxing term. Also often used to refer to inappropriate words, or comments that are too personal.</string>
	<string>Meaning: Starting over again on a new design from a previously failed attempt.</string>
	<string>Meaning: To fall down ill or to die in large numbers.</string>
</array>
</plist>
