<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Jig Is Up</string>
    <string>No Ifs, Ands, or Buts</string>
    <string>Like Father Like Son</string>
    <string>All Greek To Me</string>
    <string>Jumping the Gun</string>
    <string>Easy As Pie</string>
    <string>My Cup of Tea</string>
    <string>Eat My Hat</string>
    <string>Read 'Em and Weep</string>
    <string>If You Can't Stand the Heat, Get Out of the Kitchen</string>
    <string>Top Drawer</string>
    <string>Long In The Tooth</string>
    <string>What Am I, Chopped Liver?</string>
    <string>Plot Thickens - The</string>
    <string>Cry Wolf</string>
    <string>Playing For Keeps</string>
    <string>Talk the Talk</string>
    <string>Hit Below The Belt</string>
    <string>Back To the Drawing Board</string>
    <string>Dropping Like Flies</string>
</array>
</plist>
